@import "~bootstrap/dist/css/bootstrap.css";

.errors{
	color: red;	
}

input{
	max-width: 300px;

}

.hidden{
	display:none;
}

.center{
	text-align: center;
	border: 1px black solid;	
}
form, h2{
	margin:70px;
}