<div class="center">
	<h1>Add User</h1>

	<form [formGroup] = "userform" (ngSubmit) = "sendData()">
	  
	  <div>
	    <label for="name"><b>Name</b></label>
	    <input type="text" name = "name" id ="name" class = "form-control" formControlName = "name" required >
	    <div *ngIf="!userform.controls.name.valid" class="errors">
	      Please add Name
	    </div>    
	  </div>
    
	  <div>
		  <label for="phonenumber"><b>Phone</b></label>
		  <input type="text" name="phonenumber" id="phonenumber" class = "form-control" formControlName = "phonenumber" value="1000" required>
		  <div *ngIf="!userform.controls.phonenumber.valid" class="errors">
		      Please add Phone
		  </div>
	  </div>
	<input type="submit" value = "Save" class = "btn btn-primary" [disabled]="!userform.valid">
	</form>  
</div>	
