  <div class="col-4">
<ul class="list-group list-group-flush">
 <li *ngFor = "let user of users" class="list-group-item" ><b>Name:</b>  {{user.name}}   <b>Phone:</b> {{user.phonenumber}}</li>
 <button class="btn btn-danger" [routerLink] = "['/users']">SQL Users</button>
</ul>
</div>