<button (click) = "showSlim = true" >Show Slim users</button>
<button (click) = "showSlim = false">Show Firebase users</button>

<div *ngIf = showSlim>
<form [formGroup] = "usersform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name = "name" id = "name" formControlName = "name" class = "form-control" >
    <div *ngIf = "usersform.get('name').touched && usersform.get('name').invalid" class="alert alert-danger">
      Name is required
    </div>         
  </div>
  <div>
    <label for="phonenumber"></label>
    <input type="text" name = "phonenumber" id = "phonenumber" formControlName = "phonenumber" class = "form-control">
    <div *ngIf = "usersform.get('phonenumber').touched && usersform.get('phonenumber').invalid" class="alert alert-danger">
        Phone is required
    </div>   
  </div>
  <input type="submit" value = "Submit new user" class = "btn btn-primary">
</form>
<ul class = "list-group">
  <li  class = "list-group-item" *ngFor="let key of usersKeys">
    <button (click) = "deleteUser(key)">Delete</button>
    <button (click) = "showUpdate(key)">Update</button>  
     Name: {{users[key].name}} Phonenumber {{users[key].phonenumber}}
     <div *ngIf = "updates[key]">
      <form [formGroup] = "usersformupdate" (ngSubmit) = "updateUser(key)">
        <div>
          <label for="name"></label>
          <input type="text" name = "name" id = "name" formControlName = "name" class = "form-control" >
          <div *ngIf = "usersformupdate.get('name').touched && usersformupdate.get('name').invalid" class="alert alert-danger">
            Name is required
          </div>         
        </div>
        <div>
          <label for="phonenumber"></label>
          <input type="text" name = "phonenumber" id = "phonenumber" formControlName = "phonenumber" class = "form-control">
          <div *ngIf = "usersformupdate.get('phonenumber').touched && usersformupdate.get('phonenumber').invalid" class="alert alert-danger">
              Phone is required
          </div>   
        </div>
        <input type="submit" value = "Update user" class = "btn btn-primary">
      </form>       
     </div>
  </li>
</ul>
</div>
<div *ngIf = !showSlim >
  <ul>
    <li *ngFor = "let fuser of fusers">
      Name: {{fuser.name}} Phonenumber: {{fuser.phonenumber}}
    </li>
  </ul>
</div>